<div class="row">
  <h1 style="margin-top:1.5em;">Edit Account</h1>
</div>
<br>
  <%= form_for @user, html: {class:"form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name:",class:"col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :name, class:"col-md-6 form-control", placeholder:"Full Name" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :age, "Age: ",class:"col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :age, class:"col-md-1 form-control", placeholder:"Age" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :username, "Username:",class:"col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :username, class:"col-md-3 form-control", placeholder:"Username" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email:",class:"col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.email_field :email , class:"col-md-3 form-control", placeholder:"Email" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password:",class:"col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.password_field :password , class:"col-md-5 form-control", placeholder:"Password" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation:",class:"col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.password_field :password_confirmation , class:"col-md-5 form-control", placeholder:"Password Confirmation" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :profile_photo, "Update Profile Photo:",class:"control-label" %>
      <%= f.file_field :profile_photo %>
    </div>
    <br>
    <div class="form-group">
      <%= f.submit "Update Account", class:"col-md-offset-4 col-md-3 btn btn-primary " %>
    </div>
  <% end %>
