<h1> Inactive Videos </h1>

  <% @inactive_videos.each do |video| %>
    <div class="row" style="border-bottom: thin solid; padding:1em;">
      <div class="col-xs-5 description">
        <h3 style="display:inline;"> <%= video.name %> </h3>
        <%= link_to "Activate", activate_video_path(video) %>
        <%= link_to "Show", video_path(video) %>
        <%= link_to "Edit",edit_video_path(video) %>
        <div id="demo<%=video.id%>" class="collapse">
          <p>Description: <%= video.description %></p>
        </div>
      </div>
      <div class="col-xs-2">
        <p>PRICE: <%= video.price %></p>
      </div>
      <div class="">

      </div>
    </div>
  <% end %>
