
<h1>Home Page</h1>
<div class="row container-fluid font">
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2>Videos Availables</h2>
      </div>
      <div class="panel-body ml-2">
        <% @videos.each do |v| %>
        <div class="row">
          <div class="col-xs-3 home-video-img">
          </div>
          <div class="col-xs-5 description">
            <button type="button" data-toggle="collapse" data-target="#demo<%=v.id%>" class="btn btn-info"> <%= v.name %> </button>
            <div id="demo<%=v.id%>" class="collapse">
              <%= v.description %>
             <%= link_to "Video", href:v.url %>

            </div>
          </div>
          <div class="col-xs-2">
            <p>PRICE</p>
            <p> <%= v.price %> </p>
          </div>
          <div class="col-xs-2">
            <%= link_to "Buy", new_payment_path(v_id:v.id) %>
            <%= link_to "Show", video_path(v) %>
            <%= link_to "New",new_video_path %>
            <%= link_to "Edit",edit_video_path(v) %>
            <%= link_to "Delete",video_path(v), :confirm => "Are you sure you want to delete?",method: :delete %>
          </div>
        </div>
        <!-- Sends on the URL the "v_id" which is the id of the video -->

        <%end%>

      </div>
    </div>
  </div>
</div>
