<div class="home-component">
  <div class="row">
    <h1>Videos Availables</h1>
    <div class="paginate m-b-1">
      <%= will_paginate @videos if @videos.present?%>
    </div>
  </div>
  <div class="row videos-list">
    <% @videos.each do |v| %>
      <div class="video-info col-xs-12 col-sm-6 col-lg-4 ">
        <div class="my-trans">
          <%= link_to video_path(v) do %>
            <%= image_tag "video-300x300.png", size:"300x300#", class:"video-image", alt:"Video image", id:v.id  %>
            <div class="video-description">
              <h4> <%= v.name %></h4>
              <p> <%= v.description %></p>
              <div class="video-price">
                <h2>$<%= v.price %>0<span> USD</span></h2>
              </div>
              <em><%= link_to "Video", href:v.url %></em>
            </div>
          <% end %>
        </div>
        <div class="video-options">
          <%= link_to "Buy", new_payment_path(v_id:v.id), class:"btn btn-success"%>
          <%= link_to "Show", video_path(v), class:"btn btn-info" %>
          <%= link_to "Edit",edit_video_path(v), class:"btn btn-warning" if is_admin?%>
          <%= link_to "Inactivate",video_path(v), :confirm => "Are you sure you want to delete?",method: :delete, class:"btn btn-warning" if is_admin?%>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @videos if @videos.present? %>
</div>
