<div class="main-component">
  <div class="row">
    <h1>Videos Availables</h1>
  </div>
  <div class="panel-group">
    <div class="panel-default">
      <div class="panel-body">
        <div class="paginate m-b-1">
          <%= will_paginate @videos if @videos.present?%>
        </div>
        <% @videos.each do |v| %>
          <div class="row">
          <div class="col-xs-3 home-video-img">
          </div>
          <div class="col-xs-5 description">
            <button type="button" data-toggle="collapse" data-target="#demo<%=v.id%>" class="btn btn-info"> <%= v.name %> </button>
            <div id="demo<%=v.id%>" class="collapse">
              <%= v.description %>
             <%= link_to "Video", href:v.url %>

            </div>
          </div>
          <div class="col-xs-2">
            <p>PRICE</p>
            <p> <%= v.price %> </p>
          </div>
          <div class="col-xs-2">
            <!-- Sends on the URL the "v_id" which is the id of the video -->
            <%= link_to "Buy", new_payment_path(v_id:v.id) %>
            <%= link_to "Show", video_path(v) %>
            <%= link_to "Edit",edit_video_path(v) %>
            <%= link_to "Inactivate",video_path(v), :confirm => "Are you sure you want to delete?",method: :delete %>
          </div>
        </div>
        <%end%>

      </div>
    </div>
  </div>
  <%= will_paginate @videos if @videos.present? %>
</div>
