<h1>Videos#new</h1>

<h1>Form to Create Videos</h1>

<%= form_for @video do |f| %>
  <div class="form-group">
    <%= f.label :name, "Title:", class:"col-xs-2 control-label" %>
    <div class="col-xs-10">
      <%= f.text_field :name, placeholder:"Video's Title", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, "Url Path:", class:"col-xs-2 control-label" %>
    <div class="col-xs-10">
      <%= f.text_field :url, placeholder:"Video's full url path: www.youtube.com", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, "Price", class:"col-xs-2 control-label" %>
    <div class="col-xs-5">
      <%= f.number_field :price, placeholder:"Video's Price", class:"form-control" %>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
<%end%>
