<div class="nabvar-component">
  <nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to " Pay-Watch", root_path, class:"navbar-brand mr-4 fa fa-eye" %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <i class="fa fa-home" aria-hidden="true"></i>
          <%= link_to "Home", root_path, class:"navbar-text " %>
        </li>
      </ul>

      <% if session[:user_id] == nil %>
        <li>
          <i class="fa fa-sign-in" id="basic-addon1"></i>
          <%= (link_to "Sign up", new_user_path, class:"navbar-text mr-4")  %>
        </li>
        <li>
          <i class="fa fa-user" id="basic-addon1"></i>
          <%= (link_to "Login", new_session_path, class:"navbar-text mr-4") %>
        </li>
      <% else %>
        <li class="navbar-text mr-4">Signed in as <strong><em>
          <%= (link_to session[:user_name], user_path(current_user), class:"nav-item")%></em></strong></li>
        <li> <i class="fa fa-sign-out" aria-hidden="true"></i>
          <%= (link_to "Logout", logout_path, method: "delete", class:"navbar-text mr-4")%>
        </li>
      <% end %>
    </div>
  </nav>
</div>
