<!DOCTYPE html>
<html>
<head>
  <title>PayAndWatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid text-center">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Image icon of the website -->
        <div class="navbar-header navbar-icon">
          <%= (image_tag "glasses-icon.png", alt:"Watch Videos", title:"See your videos") %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li> <%= link_to "Home", root_path, class:"active" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%if session[:user_id] == nil %>
              <li><%= (link_to "Sign up", new_user_path)  %></li>
              <li><%= (link_to "Login", new_session_path) %></li>
            <%else%>
              <li class="navbar-text ">Signed in as <strong><em> <%=session[:user_name]%></em></strong></li>
              <li><%= (link_to "Logout", logout_path, method: "delete")%></li>
            <%end%>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Shows the actual flash messages on the website -->
    <div class="row">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> fade in" role="alert">
          <%= value.html_safe %>
        </div>
      <%end%>
    </div>
    <br>
    <%= yield %>

    <br><br>
  <!-- Creation of the footer -->
    <footer>
      <div class="footer">
          <div class="container">
              <div class="row">
                <br>
                <div class="pull-center">
                    <h4>Social Media</h4>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-amex"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <div>
                        <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                    <div>
                    </div>
                </div>
              </div><!--/.row-->
              <div class="container">
                <p class="text-center"> Copyright © powered by Yanny Castrillon 2017. All right reserved. </p>
                <br>
              </div>
          </div><!--/.container-->
      </div><!--/.footer-->
    </footer>
  </div>
</body>
</html>
