<!DOCTYPE html>
<html>
<head>
  <title>PayAndWatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/','application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "Pay-Watch", root_path, class:"navbar-brand mr-4" %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class:"navbar-text mt-2" %>
          </li>
        </ul>

        <%if session[:user_id] == nil %>
          <%= (link_to "Sign up", new_user_path, class:"navbar-text")  %>
          <%= (link_to "Login", new_session_path, class:"navbar-text mx-4") %>
        <%else%>
          <li class="navbar-text">Signed in as <strong><em>
          <%= (link_to session[:user_name], user_path(current_user), class:"nav-item")%></em></strong></li>
          <%= (link_to "Logout", logout_path, method: "delete", class:"navbar-text mx-4 ") %>
        <% end %>
      </div>
    </nav>

    <nav class="navbar navbar-default">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">

      </div><!-- /.navbar-collapse --></nav>


    <!-- flash messages -->
    <div class="row">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> fade in" role="alert">
          <%= value.html_safe %>
        </div>
      <%end%>
    </div>

    <%= yield %>
    <!-- footer -->
    <footer>
      <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="pull-center">
              <h4>Social Media</h4>
            </div>
          </div><!--/.row-->
          <div class="container">
            <p class="text-center"> Copyright © powered by Yanny Castrillon 2017. All right reserved. </p>
          </div>
        </div><!--/.container-->
      </div><!--/.footer-->
    </footer>
  </div>
</body>
</html>
